/ {
    aliases {
        led5180 = &led1;
        button5180 = &button0;
    };
};

#include "bme280-node.dtsi"

&i2c1 {
    status = "okay";
    clock-frequency = <100000>;
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
};

&i2c1_default {
    group1 {
        psels = <NRF_PSEL(TWIM_SCL, 1, 14)>,
                <NRF_PSEL(TWIM_SDA, 1, 15)>;
    };
};

&i2c1_sleep {
    group1 {
        psels = <NRF_PSEL(TWIM_SCL, 1, 14)>,
                <NRF_PSEL(TWIM_SDA, 1, 15)>;
        low-power-enable;
    };
};

/* No MCUboot is built: TF-M must start at the CPU reset address, 0. */
/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;

&flash0 {
    partitions {
        slot0_partition: partition@0 {
            compatible = "zephyr,mapped-partition";
            label = "image-0";
            reg = <0x0 0x70000>;
            ranges = <0x0 0x0 0x70000>;
            #address-cells = <1>;
            #size-cells = <1>;

            slot0_s_partition: partition@0 {
                compatible = "zephyr,mapped-partition";
                label = "image-0-secure";
                reg = <0x0 0x40000>;
            };

            slot0_ns_partition: partition@40000 {
                compatible = "zephyr,mapped-partition";
                label = "image-0-nonsecure";
                reg = <0x40000 0x30000>;
            };
        };
    };
};
